APP_NAME="Simpati Prima"
APP_ENV=local
APP_KEY=base64:n1GFFTNJJUZ8A5YNSvwkvk3MJ5vWVw/FRbrXb1WVN1k=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=errorlog
LOG_LEVEL=debug

DB_CONNECTION=mysql
# ===== BACKEND / DATABASE (MySQL Laragon) =====
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=simpati_prima
DB_USERNAME=root
DB_PASSWORD=

# ===== CACHING & SESSION =====
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

# ===== FRONTEND API URL =====
API_URL=https://<NAMA-APP-BACKEND>.up.railway.app

# ===== BPIP SSO OAuth 2.0 =====
BPIP_SSO_CLIENT_ID=
BPIP_SSO_CLIENT_SECRET=
BPIP_SSO_REDIRECT_URI="${APP_URL}/auth/bpip/callback"
BPIP_SSO_SCOPE="profile email"
BPIP_SSO_AUTHORIZE_URL=https://sso.bpip.go.id/oauth/authorize
BPIP_SSO_TOKEN_URL=https://sso.bpip.go.id/oauth/token
BPIP_SSO_USER_URL=https://sso.bpip.go.id/api/user
BPIP_SSO_DEFAULT_ROLE=petugas
